@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,200;1,400;1,500;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}


:root{
    --bg-color: #29AB87;
    --text-color: #fff;
}
/*--------Header Section--------*/

header{
    z-index: 1000;
    display: flex;
    position: fixed;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
    background: linear-gradient(black,#29AB87);

}

.logo{
    font-size: 40px;
    color: var(--bg-color);
}

.logo span{
    color: White;
    font-size: 40px;
    font-weight: 400;
}

.navLinks{

    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    
}

#menu-icon{
    font-size: 25px;
    color: white;
    display: none;
}

.navLinks li{
    display: inline-block;
    padding: 15px;
}



.navLinks li a{
    font-size: 20px;
    color: white;
}
.btn{
    padding: 10px 20px ;
    gap: 1rem;
   justify-content: space-between;
   align-items: center;
}
.button{
    width: 120px;
    height: 5vh;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: transparent;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border: 1px solid #fff;
    margin-left: 20px;
   
}

.button:hover{
    box-shadow: 2px 2px 2px green;
    scale: 1.1;
}

/*----media query for navlinks_-------*/
@media (max-width: 600px){

    .navLinks{
        position: absolute;
        display: flex;
        width: 400px;
        height:100vh;
        left: -400px;
        right: 0px;
        top: 0px;
        background: linear-gradient(green,black);
        transition: 0.5s ease;
    
       
    }

    .navLinks li{
        display: flex;
         flex-direction: column;
         padding: 60px;
        
         
    }

    .navLinks li a{
        color: var(--text-color);
    }

    #menu-icon{
        display: block;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }
}

/*--------Home Sectio------*/
.home{
    background:var(--bg-color);
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 15%;
    text-align: center;
    justify-content: space-around;
    display: flex;
   
}

.home-text{
    width: 50%;
    text-align: left;
    padding: 20px;
}


.home-text h1{
    color: var(--text-color);
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 20px;
}

.home-text p{
    font-size: 20px;
    font-weight: 300;
    word-spacing: 2px;
  padding-bottom: 20px;
}

.home-text span{
    color: black;

}

.home-text a{
    color: white;
    background: transparent;
    border: 1.5px solid #fff;
    padding: 10px;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.home-img{
    
width: 600px;
    height: 800px;
    border-radius: 30px;
    margin-top: -150px;
    flex-wrap: wrap;

}
.home-img img{
   
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: contain;
    object-position: center;
}

.heading{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;
}

.heading h2{
    font-size: 40px;
}
.heading span{
    color: var(--bg-color);
}

/*-----Media Query for Home------*/
@media (max-width: 600px){
   .home{
     
    height: 90vh;
    justify-content: space-around;
   }

   .home-text{
padding-top: 15%;
   }
    .home-img{
        width: 500px;
        height: 1000px;
    }

    .home-img img{
        width: 100%;
        height: 100%;
    }
    .home-text h1{
    color: var(--text-color);
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 20px;
}

.home-text p{
    font-size: 15px;
    font-weight: 300;
    word-spacing: 1px;
  padding-bottom: 20px;
}

.home-text span{
    color: black;

}

.home-text a{
    color: white;
    background: transparent;
    border: 1.5px solid #fff;
    padding: 7px;
    font-size: 15px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.home-img{
    
    width: 250px;
        height: 40vh;
        border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;

        margin-top: 120px;
        flex-wrap: wrap;
        margin-right: 30px;
    
    }
    .home-img img{
       object-fit: cover;
       object-position: center;
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;

        
    }
}
/*----------Swipper Section-------*/

.outdoor{
    position: relative;
    z-index: 2;
 
}
.swiper{
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    align-items: center;
}
.swaper-wrapper{
    padding: 0px 20px;
}

.swiper-slide{
    width: 400px;
    height: 100vh;
}

.swiper-slide img{
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
box-shadow: 8px px 11px rgba(216,216,216,0.1);
}

@media (max-width: 600px){
    .swiper-slide{
        width: 200px;
        height: 100vh;
    }
    
}



/*--------Review Section----*/
.review{
    
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    text-align: center;
    padding: 3%;
    

}
.heading{
    text-align: center;
    justify-content: center;
    align-items: center;
}


.review-container{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
    flex: 1 1 17rem;
    justify-content: space-around;
    padding: 20px;
}

.review-box{
    
   text-align: center;
   border: 2px solid var(--bg-color);
   border-top-left-radius: 30px;
   border-bottom-right-radius: 30px;
   width: 400px;
   height: 600px;

}

.review-box img{
     padding-top: 20px;
    object-fit: contain;
    object-position: center;
border-radius: 50%;

}

/*-----Meida query------*/

@media (max-width: 600px) {

    .review-container{
       margin: 15px;
    }

.review-box{
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 600px;

    
}

.review-box img{
    padding-top: 40px;
    width: 100px;
    border-radius: 50%;
    object-fit: contain;
    object-position: center;
    padding-bottom: 20px;

}

.review-box p{
    padding-bottom: 20px;
}

.review-box h2{
    color: var(--bg-color);
}

}

/*--------Footer Section-------*/
.footer{
    background: linear-gradient(#29AB87, black);
    height: 50vh;
    width: 100%;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(240px, auto));
    align-items: center;
   cursor: pointer;
   padding: 20px;
}

.footer-logo{
    font-size: 40px;
    color: var(--bg-color);

}

.footer-logo span{
    font-size: 40px;
    color: black;
}

.footer-box{
    flex: 1 1 17rem;
    cursor: pointer;
    padding: 10px;
}

.footer-box p{
    color: #fff;
}

.footer-box li{
    padding: 10px;
}

.socials{
    color: white;
    font-size: 20px;
}
.socials li{
    display: inline-block;
    padding: 15px;
}

.socials li a {
    font-size: 20px;
    color: var(--text-color);
}

.footer-box h3{
    font-size: 30px;
    font-weight: 30;
}

.footer-box li a{
    font-size: 20px;
    font-family: 200;
    color: #fff;
}


.footer span{
    color: #fff;
}

.foot {
    top: -20px;
    text-align: center;
    color: #fff;
    position: absolute;
}

/*------Media Query for footer------*/
@media (max-width: 600px){
.footer{
    height: 120vh;
    justify-content: space-around;
}
}
